# Shared
STUN_URLS=stun:stun.l.google.com:19302

# Server
SERVER_HOST=localhost
SERVER_PORT=8080
DOWNLOAD_PATH=./tmp/downloads
CORS_ALLOW_ORIGIN=*

# Client
SIGNALING_URL=http://localhost:8080
CLIENT_ID=<optional> # default to client's hostname
LOCAL_FILE_PATH=<optional> # default to client's home directory
LOCAL_FILE_NAME=file_to_download.txt
