# Shared
STUN_URLS=stun:stun.l.google.com:19302

# Server
SERVER_HOST=localhost
SERVER_PORT=8080
DOWNLOAD_PATH=./tmp/downloads
CORS_ALLOW_ORIGIN=*

# Client
SIGNALING_URL=http://localhost:8080
# Optional. Leave empty to use the client's hostname.
CLIENT_ID=
# Optional. Leave empty to use the client's home directory.
LOCAL_FILE_PATH=
LOCAL_FILE_NAME=file_to_download.txt
